*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}
   /*--header--*/
/*--main menu--*/
#myNavbar{
    background: rgb(75, 73, 73);
    margin-top: 0px;
    max-height: 40px;
}
#myNavbar ul{
   list-style-type: none;
float: right;
   background: rgb(75, 73, 73);   
   font-family: 'Oswald', sans-serif;  
   margin-right:20px;
  font-size: 15px;
  z-index: 1;
}
#myNavbar ul li{
    color: #fff;
   display: inline-table;

padding-top: 5px;
   line-height: 35px;
   position: relative; 
}
#myNavbar ul li a{
    color: #fff;
    text-decoration: none;
    display: block;
    margin-left: 15px;  
}
#myNavbar #active{
    color: yellow;
}
#myNavbar ul li a:hover{
    color: yellow;
}
#myNavbar ul li> #drop-main-menu{
display:none;
position: absolute;
}
#myNavbar ul li:hover #drop-main-menu{
    display:block;
}
#drop-main-menu {
    width: 140px; 
    }
/*--Sub menu--*/
#sub-menu {
    height: 50px;
    line-height: 33px;
    padding-right: 20px;
    font-family: 'Oswald', sans-serif;
  clear:right; 
 font-size: 15px;
 position: relative;
 bottom: 10px;
 background: #333
}
#sub-menu #menu {
    line-height: 45px;
  margin-right: 18px;
}
#sub-menu ul {
    list-style: none;
    line-height: 30px;}
#sub-menu ul li {
    padding: 5px 20px;
}
#sub-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
#sub-menu ul li a:hover {
    color: chartreuse;
}
#sub-menu ul li>#drop-sub-menu {
    position: absolute;
    display: none;
    margin-top: 0px;
}
#sub-menu ul li:hover #drop-sub-menu {
    display: block;
}
#drop-sub-menu {
    background: rgb(67, 65, 65);
    width: 150px;
    margin-left: -22px;    
    padding: 15px 0;
}

#small-logo {
    padding-left: 100px;
}
.header-fix{
    max-height: 80px;
}
.affix {
    top: 0; width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    z-index:2;    
}
.affix #myNavbar{
    margin-top:0px;    
}
.affix-top {
    position: static;
    top: -35px;
}


.affix #sub-menu {
    background: rgb(67, 65, 65);
    margin-top:-10px;    
}


#small-logo {
    padding-left: 20px;
}
/* //HEADER */
.about-section .col-sm-7 .about-item{
    padding-right: 40px;
}
.ttext h5{
    width: 700px;
    margin: 40px auto;
    font-size: 17px;
    text-align: center;
}
.section-title .section-subtitle{
    margin-bottom: 7px;
    padding-left: 7px;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    color: #aaaaaa;
    border-left: 3px solid #bfa67a;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-maintitle{
    margin-top: 0;
    margin-bottom: 37px;
    font-size: 30px;
    line-height: 1.27;
    font-weight: 300;
}
.section-maintitle strong{
    font-weight: 600;
}
.about-box{
    -webkit-box-shadow: 0 0 0 5px #000 inset;
    box-shadow: 0 0 0 5px #000 inset;
    margin-right: 0;
    margin-top: 15%;
    position: relative;
    display: block;
}
.about-box .videopopup img{
    transform: translateY(20px) translateX(-20px);
    -webkit-transform: translateY(20px) translateX(-20px);
    width: 100%;
    z-index: 1;
}
.list-item-4 {
    width: 50%;
    float: left;
}
.option-prices .name,.price{
    display: block;
    color: #333;
}
.person-price{
    font-size: 25px;
    font-weight: 400;
}
.price sup{
    font-size: 15px;
    font-weight: 600;
}
.list-item-4 .name{
    font-size: 30px;
}
.about-item u{
    color: blue;
}

.btn-color-background{
    -moz-user-select: none;
    background-image: -webkit-linear-gradient(145deg,#faa61f 0%,#faa61f 0%,#ed1847 100% );
    border: 1px solid #bfa67a;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;    
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 12px 48px; 
    text-align: center;
    text-transform: uppercase;
    transition: all .5s ease 0s;
    vertical-align: middle;
}
.btn-color-background:hover{
    text-decoration: none;
    color: #000000;
    color: #272627;
    background: transparent;
}
/* Footer */
footer p{
    color: rgb(146, 135, 135);
    line-height: 25px;
    margin: 0 !important;
}
.footer-top h2,h3{
    color: rgb(138, 126, 126);
}
.footer-top h2{
    font-size: 18px;
}
.footer-top{
    background:rgba(48, 46, 46, 0.98);
    padding: 40px 0;

}
.segment-one h3{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 3px;
    margin: 10px;
    color: #fff;
}
.segment-two h2{
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
}
.segment-two h2::before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.segment-two ul li{
    border-bottom: 1px solid rgba(245, 233, 233, 0.3);
    line-height: 40px;
}
.segment-two ul li a{
    color: #fff;
    text-decoration: none;
}
.segment-two ul li a:hover{
    color: #fff;
    margin-left: 15px;
    transition: all .3s;
}
.segment-three h2{
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
}
.segment-three h2::before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.segment-three #facebook:hover{
border: 1px solid rgb(35, 35, 189);
color: #fff;
transition: all .3s;
background: rgb(35, 35, 189);
}
.segment-three #twitter:hover{
    border: 1px solid rgb(10, 177, 228);
    color: #fff;
    transition: all .3s;
    background: rgb(10, 177, 228);
    }
    .segment-three #youtube:hover{
        border: 1px solid rgb(248, 65, 65);
        color: #fff;
        transition: all .3s;
        background: rgb(248, 65, 65);
        }
        .segment-three #pinterest:hover{
            border: 1px solid rgb(248, 65, 65);
            color: #fff;
            transition: all .3s;
            background: rgb(121, 44, 44);
            }
.segment-three a{
    background: #494848;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    
}
.segment-three a i{
    font-size: 20px;
    color: #fff;
    padding: 10px 12px;
}
.segment-four h2{
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
}
.segment-four h2::before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.footer-bottom-text{
    text-align: center;
    background: #000;
}
/* Opening Hour */
.opening-time .fa-check{
    color: rgb(75, 73, 73);
}
.opening-time{
    padding-left:0;}

.opening-time li{
    list-style: none;
}
.opening-time span{
    float:left;
    padding-right: 10px;
    color: #ff6348;
}
.fa-times{
    color: #ff6348;
}
strong{
          color: #ff6348;
}


/*---- LOGIN MODAL ----*/
#login-modal .modal-content {
    border-radius: 10px;
    background:rgba(225, 235, 238, 0.98);
    font-family: 'Roboto', sans-serif;
    color:rgb(41, 38, 38);
  }
  #login-modal .modal-dialog {
    margin: 150px auto;
    width: 500px;
    font-size: 15px;
   
  }
#close{
    color: rgb(248, 242, 242);
    width: 30px;
    height: 30px;
    background: rgb(179, 118, 6);
    border-radius: 15px;
    position: absolute;
    left: 455px;
   top: 0px;
   border: thin solid rgb(179, 118, 6);
   box-shadow: 2px 1px 4px rgb(63, 52, 30); 
}
#close:hover{
    background: rgb(245, 161, 6);
    border: thin solid  rgb(245, 161, 6);
}
  #login-modal .modal-dialog h4 {
    border-bottom: 1px solid rgb(172, 166, 166);
   color:rgb(41, 38, 38);
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 25px;
  }
  #login-modal .modal-dialog button{
      margin-top: 15px;
  }
 .login-form input[type="text"],input[type="password"]{
width: 100%;
height: 35px;
border-radius: 20px;
border: thin solid rgba(211, 218, 223, 0.98);
text-indent: 20px;

  }
  #login-modal .modal-dialog #login{
      width: 100px;
      height: 35px;
   
  }
  #login-modal .modal-dialog .register-now {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    font-size: 14px;
    padding-top: 20px;
  }
  #login-modal .modal-dialog .register-now a {
    margin-left: 5px;
  }
  /*Search-modal*/
  #search-modal .modal-content{
    height: 140px;
    background: rgb(67, 65, 65);
    z-index:2;

} 
#search-modal table{

margin: 30px auto;

}
#search-modal table th{
  color: white;
  text-align: center;
  font-size: x-large;
}
#search-modal .modal-content #search{
    height: 45px;
    width: 900px;
    font-size: 25px;
text-indent: 20px;
}
#Go{
height: 46px;
width: 100px;

}
/* Form Campus */
.form-campus h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 20px auto;
    font-size: 50px
}
.form-campus .thankyou-campus{
    text-align: center;
    height: 200px;
    color: #000;
}
.thankyou-campus h3{
    color: #000;
}
.terms-conditions u{
    color: blue;
}
.form-campus .border-bottom{
    width: 170px;
    height: 3px;
    background-color: #000000;
    margin: 0 auto; 
}
.form-campus .terms-conditions{
    margin-top: 40px;
    border-bottom: 1px solid black;
}
.form-campus .terms-conditions ol li{
    margin-left: 50px;
    font-size: 14px;
    font-weight: 400;
}
.form-campus .form-camp{
    /* background-image: url();
    background-position: center;
    background-repeat: no-repeat; */
}
.form-campus .border-top{
    width: 228%;
    height: 1px;
    background-color: #000000;
}
