*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;     
}
.background-wrap{
    position:fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(12, 5, 5, 0.9);
    object-fit: cover;
}
/*--Background video--*/
#video-bg {
    top: 0;
    left: 0;
    min-height: 100%; 
    min-width: 100%;
}
/*--header--*/
/*--main menu--*/

#myNavbar ul{
   list-style-type: none;

   background: rgb(73, 73, 73);   
   font-family: 'Oswald', sans-serif;  

  font-size: 15px;
  z-index: 1;
}
#myNavbar ul li{
    color: #fff;
   display: inline-table;

padding-top: 5px;
   line-height: 35px;
  
}
#myNavbar ul li a{
    color: #fff;
    text-decoration: none;
    display: block;
    margin-left: 15px;  
}
#myNavbar #active{
    color: yellow;
}
#myNavbar ul li a:hover{
    color: yellow;
}
#myNavbar ul li> #drop-main-menu{
display:none;
position: absolute;
}
#myNavbar ul li:hover #drop-main-menu{
    display:block;
}
#drop-main-menu {
    width: 140px; 
    }
/*--Sub menu--*/
#sub-menu {
    height: 50px;
    line-height: 50px;   
    padding-right: 5px;
    font-family: 'Oswald', sans-serif;
  clear:right; 
 font-size: 15px;
 position: relative;
 bottom: 10px;
}
#sub-menu #menu {
    line-height: 45px;
  margin-right: 18px;
}
#sub-menu ul {
    list-style: none;
    line-height: 30px;}
#sub-menu ul li {
    padding: 5px 20px;
}
#sub-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
#sub-menu ul li a:hover {
    color: chartreuse;
}
#sub-menu ul li>#drop-sub-menu {
    position: absolute;
    display: none;
    margin-top: 0px;
}
#sub-menu ul li:hover #drop-sub-menu {
    display: block;
}
#drop-sub-menu {
    background: rgb(67, 65, 65);
    width: 150px;
    margin-left: -22px;    

}

#small-logo {
    padding-left: 100px;
}

.affix {
    top: 0; width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    z-index:2;    
}
.affix #myNavbar{
    margin-top:0px;    
}
.affix-top {
    position: static;
    top: -200px;
}


.affix #sub-menu {
    background: rgb(67, 65, 65);
    margin-top:-5px;    
}


/*--Zoo Name--*/
#zoo-name h1{
    font-size:60px;
     font-family: unset;
    color: #fff; 
    font-weight: bold; 
    font-family: 'Oswald', sans-serif;    
}
#zoo-name{
    text-align: center;
    margin-top: 100px;
    text-shadow: 4px 0px 5px  rgb(1, 5, 61);
    width: 100%;
    font-family: 'Oswald', sans-serif;
}
/*--????????????????????????????????--*/
#come-visit {   
    color: #fff;
    text-align: center;
    margin-bottom: 200px;
    text-shadow: 2px 1px 3px   rgb(1, 5, 61);
    width: 100%;    
}
/*--secsion--*/
#about-us {  
    color: rgb(48, 47, 47); 
    height: 500px;
    }
#about-us h1 {
    font-size: 50px;
    padding-top: 40px; 
    font-family: 'Oswald', sans-serif;
    font-weight: bolder; 
}
#about-us p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
#about-us #submit {
    height: 55px;
width: 170px;
    border: rgb(192, 111, 5) solid 2px;
    border-radius: 30px;
    background:  rgb(192, 111, 5);
    font-size: 20px;
    margin-top: 20px;
    box-shadow: 3px -3px 5px rgb(212, 211, 221);
    font-weight: bolder;
    transition: 0.5s;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}
#about-us #submit:hover {
    background: rgb(250, 143, 2);
    border: rgb(250, 143, 2) solid 2px;
     color: #fff;
   transition: 0.5s;
}
/*--Upcoming Events--*/
#upcoming-events {
    background:rgba(225, 235, 238, 0.98);
   text-align: center;
   margin: 0 auto;
   height:auto;
   }
#upcoming-events a {
    text-decoration: none;
    color: rgb(10, 102, 16);
    transition: 0.3s;
    font-family: 'Oswald', sans-serif;
}
#upcoming-events a h2{
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
#upcoming-events a p{
    font-family: 'Roboto', sans-serif;
}
#upcoming-events a:hover{
    color: rgb(48, 47, 47);
    transition: 0.3s;
}
#upcoming-events h1 {
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
text-align: center;
font-weight: bolder;
color: rgb(48, 47, 47);
font-family: 'Oswald', sans-serif;
}
#upcoming-events #submit {
    height: 55px;
    margin:30px 46%;
    width: 150px;
    border: #fff solid 2px;
    background: rgba(3, 13, 143, 0);
    font-size: 17px;
    transition: 0.4s;
    box-shadow: 3px 8px 8px rgb(64, 78, 75);
}
#event01{
    width: 350px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
 }
.img01 {
    transition: all ease-in-out;
  }

.img01:hover {
    transform: scale(1.1);
       transition: all ease-in-out 0.5s;
}

/*--Come and Explore--*/
#Come-and-Explore {
   margin: 0 auto;
    color: #fff;
    background:rgba(225, 235, 238, 0.98);
  
  }

#Come-and-Explore h1 {
    font-size: 50px;
   text-align: center;
   font-weight: bolder;
   color:  rgb(48, 47, 47);
   margin-top: 150px;
   font-family: 'Oswald', sans-serif;
}
#Come-and-Explore p{
    color: rgb(48, 47, 47);
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}
#Come-and-Explore #submit {
    height: 50px;
    font-family: 'Oswald', sans-serif;
  transition: 0.5s;
    width: 170px;
    border: chocolate solid 2px;
    background: chocolate;
    font-size: 20px;
    font-weight: bolder;
    box-shadow: 5px 8px 8px rgb(73, 60, 16);
    }

#Come-and-Explore #submit:hover {
    background: #fff;
    color: rgb(48, 47, 47);
    border-radius: 30px;
    transition: 0.5s;
}
#a {
    position: relative;
    overflow: hidden;
    margin:100px auto;
    transition: 12;
    width: 370px;
    height: 225px;
     margin: 3px auto;
      overflow: hidden;
      border-radius: 2px;
    }
    .img {
        transition: all ease-in-out ;
    }
    .img a{
        color: #fff;
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
        text-shadow: rgb(41, 19, 1) 0 0 2px;
        font-weight: bold;
      
          }
    .img:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.5s;
    opacity: 0.8;
       }
    /*--Future-zoo plans*/
#future-zoo-plans {
    height: auto;  
}
#future-zoo-plans h1{
    text-align: inherit;
    font-size: 50px;
    padding-left: 40px;
    margin-top: 200px;
    color: rgb(41, 38, 38);
    font-family: 'Anton', sans-serif;
}
#future-zoo-plans p{
   text-align: inherit;
    font-size: 18px;
    padding-left: 30px;
    font-family: 'Roboto', sans-serif;
}
#future-zoo-plans img{
    margin-top: 150px;
}
#future-zoo-plans #submit{
    height: 50px;
    transition: 0.5s;
    color: #fff;
    margin-left: 50px;
    width: 170px;
    border: chocolate solid 2px;
    font-size: 20px;
    margin-bottom: 50px;
    box-shadow: 5px 8px 8px rgb(73, 60, 16);
    font-family: 'Oswald', sans-serif;
    background: chocolate;
    font-weight: bolder;
    
}
#future-zoo-plans #submit:hover{
border-radius: 30px;
color:rgb(197, 152, 5);
background: #fff;
color: rgb(41, 38, 38);}
/* Footer */

footer p{
    color: rgb(146, 135, 135);
    line-height: 25px;
    margin: 0 !important;
}
.footer-top h2,h3{
    color: rgb(138, 126, 126);
}
.footer-top h2{
    font-size: 18px;
}
.footer-top{
    background:rgba(1, 1, 1, 0.5);
    padding: 40px 0;

}
.segment-one h3{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 3px;
    margin: 10px;
    color: #fff;
}
.segment-two h2{
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
}
.segment-two h2::before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.segment-two ul li{
    border-bottom: 1px solid rgba(245, 233, 233, 0.3);
    line-height: 40px;
}
.segment-two ul li a{
    color: #fff;
    text-decoration: none;
}
.segment-two ul li a:hover{
    color: #fff;
    margin-left: 15px;
    transition: all .3s;
}
.segment-three h2{
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
}
.segment-three h2::before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.segment-three #facebook:hover{
border: 1px solid rgb(35, 35, 189);
color: #fff;
transition: all .3s;
background: rgb(35, 35, 189);
}
.segment-three #twitter:hover{
    border: 1px solid rgb(10, 177, 228);
    color: #fff;
    transition: all .3s;
    background: rgb(10, 177, 228);
    }
    .segment-three #youtube:hover{
        border: 1px solid rgb(248, 65, 65);
        color: #fff;
        transition: all .3s;
        background: rgb(248, 65, 65);
        }
        .segment-three #pinterest:hover{
            border: 1px solid rgb(248, 65, 65);
            color: #fff;
            transition: all .3s;
            background: rgb(121, 44, 44);
            }
.segment-three a{
    background: #494848;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    
}
.segment-three a i{
    font-size: 20px;
    color: #fff;
    padding: 10px 12px;
}
.segment-four h2{
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
}
.segment-four h2::before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.footer-bottom-text{
    text-align: center;
    background: #000;
}
/* Opening Hour */
.opening-time .fa-check{
    color: rgb(75, 73, 73);
}
.opening-time{
    padding-left:0;}

.opening-time li{
    list-style: none;
}
.opening-time span{
    float:left;
    padding-right: 10px;
    color: #ff6348;
}
.fa-times{
    color: #ff6348;
}
strong{
          color: #ff6348;
}
/*---- LOGIN MODAL ----*/
#login-modal .modal-content {
    border-radius: 10px;
    background:rgba(225, 235, 238, 0.98);
    font-family: 'Roboto', sans-serif;
    color:rgb(41, 38, 38);
  }
  #login-modal .modal-dialog {
    margin: 150px auto;
    width: 500px;
    font-size: 15px;
   
  }
#close{
    color: rgb(248, 242, 242);
    width: 30px;
    height: 30px;
    background: rgb(179, 118, 6);
    border-radius: 15px;
    position: absolute;
    left: 455px;
   top: 0px;
   border: thin solid rgb(179, 118, 6);
   box-shadow: 2px 1px 4px rgb(63, 52, 30); 
}
#close:hover{
    background: rgb(245, 161, 6);
    border: thin solid  rgb(245, 161, 6);
}
  #login-modal .modal-dialog h4 {
    border-bottom: 1px solid rgb(172, 166, 166);
   color:rgb(41, 38, 38);
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 25px;
  }
  #login-modal .modal-dialog button{
      margin-top: 15px;
  }
  input[type="text"],input[type="password"]{
width: 100%;
height: 35px;
border-radius: 20px;
border: thin solid rgba(211, 218, 223, 0.98);
text-indent: 20px;

  }
  #login-modal .modal-dialog #login{
      width: 100px;
      height: 35px;
   
  }
  #login-modal .modal-dialog .register-now {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    font-size: 14px;
    padding-top: 20px;
  }
  #login-modal .modal-dialog .register-now a {
    margin-left: 5px;
  }
/*Search-modal*/
  #search-modal .modal-content{
      height: 140px;
      background: rgba(49, 51, 51, 0.98);

  } 
  #search-modal table{

margin: 30px auto;

  }
  #search-modal table th{
    color: white;
    text-align: center;
    font-size: x-large;
  }
  #search-modal .modal-content #search{
      height: 45px;
      width: 900px;
      font-size: 25px;
text-indent: 20px;
  }
 #Go{
  height: 46px;
  width: 100px;

  }

/*******************************************
Nút lên TOp
*******************************************/
.lentop {
    display:none; 
    bottom: 3%; 
    right: 10px; 
    cursor: pointer;  
    position: fixed; 
    z-index: 1000;
    background: #74b9ff;
    border-radius: 50%;
  }
  .lentop div {
    border: 2px solid #74b9ff;
    border-radius:45px; 
    padding:7px 11px; 
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.3);
  }
  .lentop img {
    width:16px; 
    height:16px;
  }
    